@page "/"

<PageTitle>The Swamp</PageTitle>

<h1>The Swamp</h1>
<p>pj's personal site.</p>

<ul>
    <li><a href="/chat">Chat</a></li>

    <AuthorizeView Roles="admin">
        <Authorized>
            <li><a href="/admin">Admin</a></li>
        </Authorized>
    </AuthorizeView>

</ul>
