@page "/Account/Login"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using TheSwamp.WWW.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<h1>Log in</h1>
<div class="row">
    <div class="col-lg-4 col-lg-offset-2">
        <section>
            <ExternalLoginPicker />

            <EditForm EditContext="editContext" method="post" OnValidSubmit="LoginUser" FormName="passkey-login">
                 @if (!string.IsNullOrEmpty(errorMessage))
                 {
                     <div class="alert alert-danger" role="alert">@errorMessage</div>
                 }
                 <PasskeySubmit Operation="PasskeyOperation.Request" Name="Input.Passkey" class="btn btn-primary">Log in with a passkey</PasskeySubmit>
             </EditForm>
        </section>
    </div>
</div>

@code {
    private string? errorMessage;
    private EditContext editContext = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();
        editContext = new EditContext(Input);

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        if (!string.IsNullOrEmpty(Input.Passkey?.Error))
        {
            errorMessage = $"Error: {Input.Passkey.Error}";
            return;
        }

        if (string.IsNullOrEmpty(Input.Passkey?.CredentialJson))
        {
            errorMessage = "Error: No passkey credential received.";
            return;
        }

        var result = await SignInManager.PasskeySignInAsync(Input.Passkey.CredentialJson);

        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in with passkey.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid passkey.";
        }
    }

    private sealed class InputModel
    {
        public PasskeyInputModel? Passkey { get; set; }
    }
}
